# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\deaProjects\Mapper_workspace\Pro01Mapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
